@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,900,800,600,500,700);
/******************************************************************
Site Name: KRIS ALLEN Official
Author: INGENIOUS Design (http://ingsdesign.com)

Stylesheet: Main Stylesheet

Here's where the magic happens.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 107, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif !important;
  font-style: italic;
}

/* line 113, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 114, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 115, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* line 21, ../scss/style.scss */
a {
  color: #737373;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 27, ../scss/style.scss */
a:hover {
  text-decoration: none;
}

/* line 32, ../scss/style.scss */
h1, h2, h3 {
  line-height: 1em;
}

/* line 34, ../scss/style.scss */
h3 {
  font: 300 18px "Raleway";
  margin: 0 0 20px;
  font-weight: normal;
  line-height: 1em;
}

/* line 41, ../scss/style.scss */
h4 {
  font: 200 18px "Raleway";
}

/* line 45, ../scss/style.scss */
body {
  background: #ededed;
  color: #686868;
  font: 12px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 21px;
}

/* line 52, ../scss/style.scss */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/* line 57, ../scss/style.scss */
header {
  background: url("../images/header.jpg") no-repeat 50% 50%;
  height: 322px;
  width: 100%;
  display: table;
  overflow: hidden;
  z-index: -1;
}
/* line 64, ../scss/style.scss */
header .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 69, ../scss/style.scss */
header a {
  background: url("../images/krisallen.png") no-repeat center center;
  background-size: 100%;
  height: 61px;
  width: 362px;
  text-indent: -9999px;
  display: block;
  text-align: center;
  margin: auto;
}

/* line 82, ../scss/style.scss */
.fixed {
  position: fixed;
  top: 0;
}

/* line 87, ../scss/style.scss */
nav {
  background: #fff;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 20;
}
/* line 93, ../scss/style.scss */
nav ul {
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
}
/* line 98, ../scss/style.scss */
nav ul li {
  text-transform: uppercase;
  color: #b3b3b3;
  letter-spacing: 0.2em;
  display: inline-block;
  list-style: none;
}
/* line 104, ../scss/style.scss */
nav ul li a {
  padding: 23px 0;
  width: 150px;
  display: block;
  font: 300 16px "Raleway";
}
/* line 109, ../scss/style.scss */
nav ul li a:hover {
  font-weight: 400;
}

/* line 117, ../scss/style.scss */
#main {
  background: #ededed;
  padding: 60px 0 0;
  margin: 0 0;
}

/* line 119, ../scss/style.scss */
#news {
  margin: 60px 0 0 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 124, ../scss/style.scss */
#news .scrollarea {
  width: 2000px;
}
/* line 127, ../scss/style.scss */
#news article {
  background: #fff;
  width: 545px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 0 60px 60px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 137, ../scss/style.scss */
#news article p {
  color: #acacac;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 145, ../scss/style.scss */
#news article .img div {
  height: 307px;
  background-position: center center;
  background-size: 95%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 155, ../scss/style.scss */
#news article section {
  padding: 40px 30px 30px 30px;
}
/* line 158, ../scss/style.scss */
#news article:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* line 160, ../scss/style.scss */
#news article:hover p {
  color: #808080;
}
/* line 163, ../scss/style.scss */
#news article:hover .img div {
  opacity: 0.8;
}

/* line 170, ../scss/style.scss */
.next {
  width: 40px;
  height: 60px;
  background: white url("../images/arrow-r.png") no-repeat center center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  z-index: 5;
  top: 50%;
  margin: -30px 0 0 0;
}

/* line 182, ../scss/style.scss */
#social {
  width: 100%;
  overflow: auto;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
/* line 187, ../scss/style.scss */
#social .embed {
  /*background: #f2f2f2;*/
  margin: 0 0 0 94px;
  height: 185px;
  position: relative;
}
/* line 193, ../scss/style.scss */
#social .facebook {
  background: url("../images/fb.jpg") no-repeat left top;
  background-size: auto;
}
/* line 194, ../scss/style.scss */
#social .instagram {
  background: url("../images/in.jpg") no-repeat left top;
  background-size: auto;
}
/* line 196, ../scss/style.scss */
#social .instagram .embed {
  padding: 0 0 5px;
}
/* line 197, ../scss/style.scss */
#social .instagram .scrollarea {
  width: 500px;
}
/* line 200, ../scss/style.scss */
#social .instagram article {
  height: 185px;
  width: 185px;
  float: left;
  margin: 0 20px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
/* line 207, ../scss/style.scss */
#social .instagram article p {
  position: absolute;
  background: #fff;
  display: block;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  bottom: -185px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
/* line 221, ../scss/style.scss */
#social .instagram article:hover p {
  bottom: 0;
}
/* line 226, ../scss/style.scss */
#social .instagram img {
  height: 185px;
}
/* line 230, ../scss/style.scss */
#social .twitter {
  background: url("../images/tw.jpg") no-repeat left top;
  background-size: auto;
}

/* line 232, ../scss/style.scss */
#social > div {
  width: 29%;
  margin: 50px 0 50px 50px;
  float: left;
  overflow: hidden;
}

/* Twitter */
/* line 241, ../scss/style.scss */
#social .twitter .tweet_list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* line 247, ../scss/style.scss */
#social .twitter .tweet_list li {
  margin: 0 0 20px;
}

/* line 251, ../scss/style.scss */
#social .twitter .tweet_text {
  color: #acacac;
}

/* line 252, ../scss/style.scss */
#social .twitter .tweet_time {
  display: block;
  margin: 0 0 5px;
}

/* line 254, ../scss/style.scss */
#events {
  margin: 60px;
  width: auto !important;
}

/* line 259, ../scss/style.scss */
#events section {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 300px;
  height: 160px;
  padding: 30px;
  margin: 0 30px 30px 0;
  position: relative;
}

/* line 270, ../scss/style.scss */
#events h3, #events h4 {
  font-size: 18px;
  margin: 0px;
}

/* line 275, ../scss/style.scss */
#events p {
  display: block;
  position: absolute;
  bottom: 30px;
  margin: 0px;
  color: #acacac;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}

/* line 287, ../scss/style.scss */
#events section:hover p {
  color: #808080;
}

/*														-- (1285, infinity) */
@media (min-width: 1285px) {
  /* line 292, ../scss/style.scss */
  #news article {
    width: 545px;
  }
}
/* Large desktop										-- (1200, infinity) */
@media (min-width: 1200px) {
  /* line 297, ../scss/style.scss */
  #news {
    margin: 60px 0 0 !important;
  }

  /* line 298, ../scss/style.scss */
  #news article {
    margin: 0 0 60px 60px !important;
  }
}
/*														-- (768, infinity) */
@media (min-width: 768px) {
  /* line 303, ../scss/style.scss */
  #news article {
    margin: 0 0 60px 60px !important;
  }

  /* line 304, ../scss/style.scss */
  #news {
    margin: 60px 0 0 !important;
  }

  /* line 305, ../scss/style.scss */
  #social > div {
    margin: 50px 0 50px 50px !important;
  }

  /* line 306, ../scss/style.scss */
  #social .embed {
    margin: 0 0 0 94px !important;
  }

  /* line 307, ../scss/style.scss */
  #events {
    margin: 60px !important;
  }

  /* line 308, ../scss/style.scss */
  #events section {
    width: 300px !important;
  }
}
/* Portrait tablet to landscape and desktop 			-- (768, 979) */
/* Landscape phone to portrait tablet 					-- (0, 768) */
@media (max-width: 767px) {
  /* line 318, ../scss/style.scss */
  body {
    padding: 0;
  }

  /* line 320, ../scss/style.scss */
  nav ul li a {
    font-size: 12px !important;
    width: 112px !important;
  }

  /* line 325, ../scss/style.scss */
  #news .scrollarea {
    width: 100%;
  }

  /* line 327, ../scss/style.scss */
  #social > div {
    background-size: 25px !important;
  }

  /* line 329, ../scss/style.scss */
  #events section {
    width: 100%;
  }
}
/* Landscape phones and down 							-- (0, 480) */
@media (max-width: 480px) {
  /* line 335, ../scss/style.scss */
  #logo {
    background-size: 65%;
  }

  /* line 336, ../scss/style.scss */
  nav ul li a {
    width: 72px !important;
  }

  /* line 340, ../scss/style.scss */
  #events section {
    margin-right: 0px !important;
  }
}
