@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,900,800,600,500,700);
/******************************************************************
Site Name: KRIS ALLEN Official
Author: INGENIOUS Design (http://ingsdesign.com)

Stylesheet: Main Stylesheet

Here's where the magic happens.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 107, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif !important;
  font-style: italic;
}

/* line 113, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 114, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 115, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* ==========================================================================
   Flex Slider
   ========================================================================== */
/* Browser Resets */
/* line 9, ../scss/flexslider.scss */
.flex-container a:active,
#news a:active,
.flex-container a:focus,
#news a:focus {
  outline: none;
}

/* line 12, ../scss/flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 16, ../scss/flexslider.scss */
#news {
  margin: 0;
  padding: 0;
}

/* line 17, ../scss/flexslider.scss */
#news .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 18, ../scss/flexslider.scss */
#news .slides img {
  width: 100%;
  display: block;
}

/* line 19, ../scss/flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 22, ../scss/flexslider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 23, ../scss/flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 24, ../scss/flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 29, ../scss/flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* Direction Nav */
/* line 32, ../scss/flexslider.scss */
.flex-direction-nav {
  *height: 0;
  display: none;
}

/* line 33, ../scss/flexslider.scss */
.flex-direction-nav a {
  width: 13px;
  height: 24px;
  margin: -20px 0 0;
  display: block;
  background: url(img/arrow-r.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
}

/* line 34, ../scss/flexslider.scss */
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}

/* line 35, ../scss/flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -36px;
}

/* line 36, ../scss/flexslider.scss */
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 5px;
}

/* line 37, ../scss/flexslider.scss */
.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 5px;
}

/* line 38, ../scss/flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 39, ../scss/flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}

/* line 41, ../scss/flexslider.scss */
.igfeed .scrollarea a {
  margin-right: 10px;
}

/*
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot?v=3.0.1");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../font/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
/* line 43, ../scss/font-awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */
/* line 75, ../scss/font-awesome.scss */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}

/* line 80, ../scss/font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes sure icons active on rollover in links */
/* line 89, ../scss/font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}

/* makes the font 33% larger relative to the icon container */
/* line 95, ../scss/font-awesome.scss */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}

/* line 102, ../scss/font-awesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"], .nav [class^="icon-"],
.nav [class*=" icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */
}
/* line 105, ../scss/font-awesome.scss */
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
/* line 106, ../scss/font-awesome.scss */
.btn [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

/* line 112, ../scss/font-awesome.scss */
.nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"], .nav-pills [class^="icon-"],
.nav-pills [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
}
/* line 114, ../scss/font-awesome.scss */
.nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"],
.nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"],
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}

/* line 120, ../scss/font-awesome.scss */
li [class^="icon-"],
li [class*=" icon-"], .nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 124, ../scss/font-awesome.scss */
li [class^="icon-"].icon-large,
li [class*=" icon-"].icon-large, .nav li [class^="icon-"].icon-large,
.nav li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

/* line 131, ../scss/font-awesome.scss */
ul.icons {
  list-style-type: none;
  text-indent: -.75em;
}
/* line 137, ../scss/font-awesome.scss */
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .75em;
}

/* line 143, ../scss/font-awesome.scss */
.icon-muted {
  color: #eeeeee;
}

/* line 150, ../scss/font-awesome.scss */
.icon-border {
  border: solid 1px #eeeeee;
  padding: 0.2em 0.25em 0.15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 159, ../scss/font-awesome.scss */
.icon-2x {
  font-size: 2em;
}
/* line 161, ../scss/font-awesome.scss */
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 166, ../scss/font-awesome.scss */
.icon-3x {
  font-size: 3em;
}
/* line 168, ../scss/font-awesome.scss */
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 173, ../scss/font-awesome.scss */
.icon-4x {
  font-size: 4em;
}
/* line 175, ../scss/font-awesome.scss */
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 185, ../scss/font-awesome.scss */
.pull-right {
  float: right;
}

/* line 186, ../scss/font-awesome.scss */
.pull-left {
  float: left;
}

/* line 190, ../scss/font-awesome.scss */
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
/* line 193, ../scss/font-awesome.scss */
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}

/* line 202, ../scss/font-awesome.scss */
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
/* line 204, ../scss/font-awesome.scss */
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}

/* line 212, ../scss/font-awesome.scss */
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}

/* line 219, ../scss/font-awesome.scss */
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
/* line 222, ../scss/font-awesome.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
/* line 224, ../scss/font-awesome.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
/* line 225, ../scss/font-awesome.scss */
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}

/* line 230, ../scss/font-awesome.scss */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 239, ../scss/font-awesome.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 240, ../scss/font-awesome.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 243, ../scss/font-awesome.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 244, ../scss/font-awesome.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 247, ../scss/font-awesome.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 248, ../scss/font-awesome.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 251, ../scss/font-awesome.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 252, ../scss/font-awesome.scss */
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 255, ../scss/font-awesome.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 256, ../scss/font-awesome.scss */
  100% {
    transform: rotate(359deg);
  }
}

@-moz-document url-prefix() {
  /* line 260, ../scss/font-awesome.scss */
  .icon-spin {
    height: .9em;
  }

  /* line 261, ../scss/font-awesome.scss */
  .btn .icon-spin {
    height: auto;
  }

  /* line 262, ../scss/font-awesome.scss */
  .icon-spin.icon-large {
    height: 1.25em;
  }

  /* line 263, ../scss/font-awesome.scss */
  .btn .icon-spin.icon-large {
    height: .75em;
  }
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 268, ../scss/font-awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 269, ../scss/font-awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 270, ../scss/font-awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 271, ../scss/font-awesome.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 272, ../scss/font-awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 273, ../scss/font-awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 274, ../scss/font-awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 275, ../scss/font-awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 276, ../scss/font-awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 277, ../scss/font-awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 278, ../scss/font-awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 279, ../scss/font-awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 280, ../scss/font-awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 281, ../scss/font-awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 282, ../scss/font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 284, ../scss/font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 285, ../scss/font-awesome.scss */
.icon-off:before {
  content: "\f011";
}

/* line 286, ../scss/font-awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 287, ../scss/font-awesome.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 288, ../scss/font-awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 289, ../scss/font-awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 290, ../scss/font-awesome.scss */
.icon-file:before {
  content: "\f016";
}

/* line 291, ../scss/font-awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 292, ../scss/font-awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 293, ../scss/font-awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 294, ../scss/font-awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 295, ../scss/font-awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 296, ../scss/font-awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 297, ../scss/font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 298, ../scss/font-awesome.scss */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */
/* line 301, ../scss/font-awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 302, ../scss/font-awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 303, ../scss/font-awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 304, ../scss/font-awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 305, ../scss/font-awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 306, ../scss/font-awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 307, ../scss/font-awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 308, ../scss/font-awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 309, ../scss/font-awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 310, ../scss/font-awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 311, ../scss/font-awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 312, ../scss/font-awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 313, ../scss/font-awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 314, ../scss/font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 315, ../scss/font-awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 317, ../scss/font-awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 318, ../scss/font-awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 319, ../scss/font-awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 320, ../scss/font-awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 321, ../scss/font-awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 322, ../scss/font-awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 323, ../scss/font-awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 324, ../scss/font-awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 325, ../scss/font-awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 326, ../scss/font-awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 327, ../scss/font-awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 328, ../scss/font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 329, ../scss/font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 330, ../scss/font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 331, ../scss/font-awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 333, ../scss/font-awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 334, ../scss/font-awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 335, ../scss/font-awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 336, ../scss/font-awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 337, ../scss/font-awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 338, ../scss/font-awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 339, ../scss/font-awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 340, ../scss/font-awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 341, ../scss/font-awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 342, ../scss/font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 343, ../scss/font-awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 344, ../scss/font-awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 345, ../scss/font-awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 346, ../scss/font-awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 347, ../scss/font-awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 349, ../scss/font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 350, ../scss/font-awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 351, ../scss/font-awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 352, ../scss/font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 353, ../scss/font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 354, ../scss/font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 355, ../scss/font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 356, ../scss/font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 357, ../scss/font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 358, ../scss/font-awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 359, ../scss/font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 360, ../scss/font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 361, ../scss/font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 362, ../scss/font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 363, ../scss/font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 365, ../scss/font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 366, ../scss/font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 367, ../scss/font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 368, ../scss/font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 369, ../scss/font-awesome.scss */
.icon-share-alt:before {
  content: "\f064";
}

/* line 370, ../scss/font-awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 371, ../scss/font-awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 372, ../scss/font-awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 373, ../scss/font-awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 374, ../scss/font-awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 375, ../scss/font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 376, ../scss/font-awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 377, ../scss/font-awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 378, ../scss/font-awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 379, ../scss/font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 381, ../scss/font-awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 382, ../scss/font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 383, ../scss/font-awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 384, ../scss/font-awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 385, ../scss/font-awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 386, ../scss/font-awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 387, ../scss/font-awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 388, ../scss/font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 389, ../scss/font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 390, ../scss/font-awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 391, ../scss/font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 392, ../scss/font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 393, ../scss/font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 394, ../scss/font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 395, ../scss/font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 397, ../scss/font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 398, ../scss/font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 399, ../scss/font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 400, ../scss/font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 401, ../scss/font-awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 402, ../scss/font-awesome.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 403, ../scss/font-awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 404, ../scss/font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 405, ../scss/font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 406, ../scss/font-awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 407, ../scss/font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 408, ../scss/font-awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 409, ../scss/font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 410, ../scss/font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 411, ../scss/font-awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 413, ../scss/font-awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 414, ../scss/font-awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 415, ../scss/font-awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 416, ../scss/font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 417, ../scss/font-awesome.scss */
.icon-lemon:before {
  content: "\f094";
}

/* line 418, ../scss/font-awesome.scss */
.icon-phone:before {
  content: "\f095";
}

/* line 419, ../scss/font-awesome.scss */
.icon-check-empty:before {
  content: "\f096";
}

/* line 420, ../scss/font-awesome.scss */
.icon-bookmark-empty:before {
  content: "\f097";
}

/* line 421, ../scss/font-awesome.scss */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 422, ../scss/font-awesome.scss */
.icon-twitter:before {
  content: "\f099";
}

/* line 423, ../scss/font-awesome.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 424, ../scss/font-awesome.scss */
.icon-github:before {
  content: "\f09b";
}

/* line 425, ../scss/font-awesome.scss */
.icon-unlock:before {
  content: "\f09c";
}

/* line 426, ../scss/font-awesome.scss */
.icon-credit-card:before {
  content: "\f09d";
}

/* line 427, ../scss/font-awesome.scss */
.icon-rss:before {
  content: "\f09e";
}

/* line 429, ../scss/font-awesome.scss */
.icon-hdd:before {
  content: "\f0a0";
}

/* line 430, ../scss/font-awesome.scss */
.icon-bullhorn:before {
  content: "\f0a1";
}

/* line 431, ../scss/font-awesome.scss */
.icon-bell:before {
  content: "\f0a2";
}

/* line 432, ../scss/font-awesome.scss */
.icon-certificate:before {
  content: "\f0a3";
}

/* line 433, ../scss/font-awesome.scss */
.icon-hand-right:before {
  content: "\f0a4";
}

/* line 434, ../scss/font-awesome.scss */
.icon-hand-left:before {
  content: "\f0a5";
}

/* line 435, ../scss/font-awesome.scss */
.icon-hand-up:before {
  content: "\f0a6";
}

/* line 436, ../scss/font-awesome.scss */
.icon-hand-down:before {
  content: "\f0a7";
}

/* line 437, ../scss/font-awesome.scss */
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

/* line 438, ../scss/font-awesome.scss */
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

/* line 439, ../scss/font-awesome.scss */
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

/* line 440, ../scss/font-awesome.scss */
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

/* line 441, ../scss/font-awesome.scss */
.icon-globe:before {
  content: "\f0ac";
}

/* line 442, ../scss/font-awesome.scss */
.icon-wrench:before {
  content: "\f0ad";
}

/* line 443, ../scss/font-awesome.scss */
.icon-tasks:before {
  content: "\f0ae";
}

/* line 445, ../scss/font-awesome.scss */
.icon-filter:before {
  content: "\f0b0";
}

/* line 446, ../scss/font-awesome.scss */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 447, ../scss/font-awesome.scss */
.icon-fullscreen:before {
  content: "\f0b2";
}

/* line 449, ../scss/font-awesome.scss */
.icon-group:before {
  content: "\f0c0";
}

/* line 450, ../scss/font-awesome.scss */
.icon-link:before {
  content: "\f0c1";
}

/* line 451, ../scss/font-awesome.scss */
.icon-cloud:before {
  content: "\f0c2";
}

/* line 452, ../scss/font-awesome.scss */
.icon-beaker:before {
  content: "\f0c3";
}

/* line 453, ../scss/font-awesome.scss */
.icon-cut:before {
  content: "\f0c4";
}

/* line 454, ../scss/font-awesome.scss */
.icon-copy:before {
  content: "\f0c5";
}

/* line 455, ../scss/font-awesome.scss */
.icon-paper-clip:before {
  content: "\f0c6";
}

/* line 456, ../scss/font-awesome.scss */
.icon-save:before {
  content: "\f0c7";
}

/* line 457, ../scss/font-awesome.scss */
.icon-sign-blank:before {
  content: "\f0c8";
}

/* line 458, ../scss/font-awesome.scss */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 459, ../scss/font-awesome.scss */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 460, ../scss/font-awesome.scss */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 461, ../scss/font-awesome.scss */
.icon-strikethrough:before {
  content: "\f0cc";
}

/* line 462, ../scss/font-awesome.scss */
.icon-underline:before {
  content: "\f0cd";
}

/* line 463, ../scss/font-awesome.scss */
.icon-table:before {
  content: "\f0ce";
}

/* line 465, ../scss/font-awesome.scss */
.icon-magic:before {
  content: "\f0d0";
}

/* line 466, ../scss/font-awesome.scss */
.icon-truck:before {
  content: "\f0d1";
}

/* line 467, ../scss/font-awesome.scss */
.icon-pinterest:before {
  content: "\f0d2";
}

/* line 468, ../scss/font-awesome.scss */
.icon-pinterest-sign:before {
  content: "\f0d3";
}

/* line 469, ../scss/font-awesome.scss */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 470, ../scss/font-awesome.scss */
.icon-google-plus:before {
  content: "\f0d5";
}

/* line 471, ../scss/font-awesome.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 472, ../scss/font-awesome.scss */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 473, ../scss/font-awesome.scss */
.icon-caret-up:before {
  content: "\f0d8";
}

/* line 474, ../scss/font-awesome.scss */
.icon-caret-left:before {
  content: "\f0d9";
}

/* line 475, ../scss/font-awesome.scss */
.icon-caret-right:before {
  content: "\f0da";
}

/* line 476, ../scss/font-awesome.scss */
.icon-columns:before {
  content: "\f0db";
}

/* line 477, ../scss/font-awesome.scss */
.icon-sort:before {
  content: "\f0dc";
}

/* line 478, ../scss/font-awesome.scss */
.icon-sort-down:before {
  content: "\f0dd";
}

/* line 479, ../scss/font-awesome.scss */
.icon-sort-up:before {
  content: "\f0de";
}

/* line 481, ../scss/font-awesome.scss */
.icon-envelope-alt:before {
  content: "\f0e0";
}

/* line 482, ../scss/font-awesome.scss */
.icon-linkedin:before {
  content: "\f0e1";
}

/* line 483, ../scss/font-awesome.scss */
.icon-undo:before {
  content: "\f0e2";
}

/* line 484, ../scss/font-awesome.scss */
.icon-legal:before {
  content: "\f0e3";
}

/* line 485, ../scss/font-awesome.scss */
.icon-dashboard:before {
  content: "\f0e4";
}

/* line 486, ../scss/font-awesome.scss */
.icon-comment-alt:before {
  content: "\f0e5";
}

/* line 487, ../scss/font-awesome.scss */
.icon-comments-alt:before {
  content: "\f0e6";
}

/* line 488, ../scss/font-awesome.scss */
.icon-bolt:before {
  content: "\f0e7";
}

/* line 489, ../scss/font-awesome.scss */
.icon-sitemap:before {
  content: "\f0e8";
}

/* line 490, ../scss/font-awesome.scss */
.icon-umbrella:before {
  content: "\f0e9";
}

/* line 491, ../scss/font-awesome.scss */
.icon-paste:before {
  content: "\f0ea";
}

/* line 492, ../scss/font-awesome.scss */
.icon-lightbulb:before {
  content: "\f0eb";
}

/* line 493, ../scss/font-awesome.scss */
.icon-exchange:before {
  content: "\f0ec";
}

/* line 494, ../scss/font-awesome.scss */
.icon-cloud-download:before {
  content: "\f0ed";
}

/* line 495, ../scss/font-awesome.scss */
.icon-cloud-upload:before {
  content: "\f0ee";
}

/* line 497, ../scss/font-awesome.scss */
.icon-user-md:before {
  content: "\f0f0";
}

/* line 498, ../scss/font-awesome.scss */
.icon-stethoscope:before {
  content: "\f0f1";
}

/* line 499, ../scss/font-awesome.scss */
.icon-suitcase:before {
  content: "\f0f2";
}

/* line 500, ../scss/font-awesome.scss */
.icon-bell-alt:before {
  content: "\f0f3";
}

/* line 501, ../scss/font-awesome.scss */
.icon-coffee:before {
  content: "\f0f4";
}

/* line 502, ../scss/font-awesome.scss */
.icon-food:before {
  content: "\f0f5";
}

/* line 503, ../scss/font-awesome.scss */
.icon-file-alt:before {
  content: "\f0f6";
}

/* line 504, ../scss/font-awesome.scss */
.icon-building:before {
  content: "\f0f7";
}

/* line 505, ../scss/font-awesome.scss */
.icon-hospital:before {
  content: "\f0f8";
}

/* line 506, ../scss/font-awesome.scss */
.icon-ambulance:before {
  content: "\f0f9";
}

/* line 507, ../scss/font-awesome.scss */
.icon-medkit:before {
  content: "\f0fa";
}

/* line 508, ../scss/font-awesome.scss */
.icon-fighter-jet:before {
  content: "\f0fb";
}

/* line 509, ../scss/font-awesome.scss */
.icon-beer:before {
  content: "\f0fc";
}

/* line 510, ../scss/font-awesome.scss */
.icon-h-sign:before {
  content: "\f0fd";
}

/* line 511, ../scss/font-awesome.scss */
.icon-plus-sign-alt:before {
  content: "\f0fe";
}

/* line 513, ../scss/font-awesome.scss */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 514, ../scss/font-awesome.scss */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 515, ../scss/font-awesome.scss */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 516, ../scss/font-awesome.scss */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 517, ../scss/font-awesome.scss */
.icon-angle-left:before {
  content: "\f104";
}

/* line 518, ../scss/font-awesome.scss */
.icon-angle-right:before {
  content: "\f105";
}

/* line 519, ../scss/font-awesome.scss */
.icon-angle-up:before {
  content: "\f106";
}

/* line 520, ../scss/font-awesome.scss */
.icon-angle-down:before {
  content: "\f107";
}

/* line 521, ../scss/font-awesome.scss */
.icon-desktop:before {
  content: "\f108";
}

/* line 522, ../scss/font-awesome.scss */
.icon-laptop:before {
  content: "\f109";
}

/* line 523, ../scss/font-awesome.scss */
.icon-tablet:before {
  content: "\f10a";
}

/* line 524, ../scss/font-awesome.scss */
.icon-mobile-phone:before {
  content: "\f10b";
}

/* line 525, ../scss/font-awesome.scss */
.icon-circle-blank:before {
  content: "\f10c";
}

/* line 526, ../scss/font-awesome.scss */
.icon-quote-left:before {
  content: "\f10d";
}

/* line 527, ../scss/font-awesome.scss */
.icon-quote-right:before {
  content: "\f10e";
}

/* line 529, ../scss/font-awesome.scss */
.icon-spinner:before {
  content: "\f110";
}

/* line 530, ../scss/font-awesome.scss */
.icon-circle:before {
  content: "\f111";
}

/* line 531, ../scss/font-awesome.scss */
.icon-reply:before {
  content: "\f112";
}

/* line 532, ../scss/font-awesome.scss */
.icon-github-alt:before {
  content: "\f113";
}

/* line 533, ../scss/font-awesome.scss */
.icon-folder-close-alt:before {
  content: "\f114";
}

/* line 534, ../scss/font-awesome.scss */
.icon-folder-open-alt:before {
  content: "\f115";
}

/* line 27, ../scss/style.scss */
a {
  color: #737373;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 33, ../scss/style.scss */
a:hover {
  text-decoration: none;
}

/* line 38, ../scss/style.scss */
h1, h2, h3 {
  line-height: 1em;
}

/* line 40, ../scss/style.scss */
h3 {
  font: 300 18px "Raleway";
  margin: 0 0 20px;
  font-weight: normal;
  line-height: 1em;
}

/* line 47, ../scss/style.scss */
h4 {
  font: 200 18px "Raleway";
}

/* line 51, ../scss/style.scss */
body {
  background: #ededed;
  color: #686868;
  font: 12px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 21px;
}

/* line 58, ../scss/style.scss */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/* line 63, ../scss/style.scss */
header {
  background: url("../images/header.jpg") no-repeat 50% 50%;
  height: 322px;
  width: 100%;
  display: table;
  overflow: hidden;
  z-index: -1;
}
/* line 70, ../scss/style.scss */
header .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 75, ../scss/style.scss */
header a {
  background: url("../images/krisallen.png") no-repeat center center;
  background-size: 100%;
  height: 72px;
  width: 400px;
  text-indent: -9999px;
  display: block;
  text-align: center;
  margin: auto;
}

/* line 88, ../scss/style.scss */
.fixed {
  position: fixed;
  top: 0;
}

/* line 93, ../scss/style.scss */
nav {
  background: #fff;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 20;
}
/* line 99, ../scss/style.scss */
nav ul {
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
}
/* line 104, ../scss/style.scss */
nav ul li {
  text-transform: uppercase;
  color: #b3b3b3;
  letter-spacing: 0.2em;
  display: inline-block;
  list-style: none;
}
/* line 110, ../scss/style.scss */
nav ul li a {
  padding: 23px 0;
  width: 150px;
  display: block;
  font: 300 16px "Raleway";
}
/* line 115, ../scss/style.scss */
nav ul li a:hover {
  font-weight: 400;
}

/* line 123, ../scss/style.scss */
#main {
  background: #ededed;
  padding: 60px 0 0;
  margin: 0 0;
}

/* line 125, ../scss/style.scss */
#news {
  margin: 60px 0 0 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 130, ../scss/style.scss */
#news .scrollarea {
  width: 2000px;
}
/* line 133, ../scss/style.scss */
#news article {
  background: #fff;
  width: 545px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 0 60px 60px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 143, ../scss/style.scss */
#news article p {
  color: #acacac;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 151, ../scss/style.scss */
#news article .img div {
  height: 307px;
  background-position: center center;
  background-size: 95%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 161, ../scss/style.scss */
#news article section {
  padding: 40px 30px 30px 30px;
}
/* line 164, ../scss/style.scss */
#news article .article-footer {
  padding: 8px 0;
  font-size: 0.7em;
  border-top: 1px solid #e8e8e8;
  zoom: 1;
  font-size: 10px;
  width: 90%;
  margin: 10px auto;
  height: 30px;
}
/* line 173, ../scss/style.scss */
#news article .article-footer div {
  float: left;
  padding-left: 10px;
  margin-right: 10px;
  border-left: 1px solid #e8e8e8;
}
/* line 178, ../scss/style.scss */
#news article .article-footer div:first-child {
  border-left: none;
}
/* line 181, ../scss/style.scss */
#news article .article-footer div span {
  color: #404040;
  padding: 0 7px;
  display: inline-block;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f5f5f5;
}
/* line 193, ../scss/style.scss */
#news article:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* line 195, ../scss/style.scss */
#news article:hover p {
  color: #808080;
}
/* line 198, ../scss/style.scss */
#news article:hover .img div {
  opacity: 0.8;
}

/* line 207, ../scss/style.scss */
#archive .archive article {
  margin: 0 0.85% 60px;
  width: 450px;
}
/* line 212, ../scss/style.scss */
#archive article {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 220, ../scss/style.scss */
#archive article p {
  color: #acacac;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 228, ../scss/style.scss */
#archive article .img div {
  height: 307px;
  background-position: center center;
  background-size: 95%;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 238, ../scss/style.scss */
#archive article section {
  padding: 40px 30px 30px 30px;
}
/* line 241, ../scss/style.scss */
#archive article .article-footer {
  padding: 8px 0;
  font-size: 0.7em;
  border-top: 1px solid #e8e8e8;
  zoom: 1;
  font-size: 10px;
  width: 90%;
  margin: 10px auto;
  height: 30px;
}
/* line 250, ../scss/style.scss */
#archive article .article-footer div {
  float: left;
  padding-left: 10px;
  margin-right: 10px;
  border-left: 1px solid #e8e8e8;
}
/* line 255, ../scss/style.scss */
#archive article .article-footer div:first-child {
  border-left: none;
}
/* line 258, ../scss/style.scss */
#archive article .article-footer div span {
  color: #404040;
  padding: 0 7px;
  display: inline-block;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f5f5f5;
}
/* line 270, ../scss/style.scss */
#archive article:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* line 272, ../scss/style.scss */
#archive article:hover p {
  color: #808080;
}
/* line 275, ../scss/style.scss */
#archive article:hover .img div {
  opacity: 0.8;
}

/* line 283, ../scss/style.scss */
.post-type-archive-tour #tour {
  margin: 0 auto 60px;
}
/* line 285, ../scss/style.scss */
.post-type-archive-tour #tour .table {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: gray;
}
/* line 289, ../scss/style.scss */
.post-type-archive-tour #tour .table .title {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  font: 300 18px "Raleway";
  font-size: 2em;
}
/* line 296, ../scss/style.scss */
.post-type-archive-tour #tour .table th {
  text-transform: uppercase;
}
/* line 299, ../scss/style.scss */
.post-type-archive-tour #tour .table td {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 1.2em;
}

/* line 309, ../scss/style.scss */
#post article {
  margin: 0px auto 50px auto;
  width: 100%;
}
/* line 312, ../scss/style.scss */
#post article .media {
  min-height: 300px;
  text-align: center;
  background: #111;
}
/* line 316, ../scss/style.scss */
#post article .media img {
  height: 100%;
  width: auto;
}
/* line 321, ../scss/style.scss */
#post article .post-text {
  color: #acacac;
  padding: 40px 30px 30px 30px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
/* line 330, ../scss/style.scss */
#post article .post-text .divider {
  display: block;
  border-top: 1px solid #b8b8b8;
  width: 60px;
  margin: 15px 0;
}
/* line 336, ../scss/style.scss */
#post article .post-text .video-post .post-format-content {
  display: none;
}
/* line 339, ../scss/style.scss */
#post article .post-text .article-footer {
  padding: 8px 0;
  font-size: 0.7em;
  border-top: 1px solid #e8e8e8;
  zoom: 1;
  font-size: 10px;
}
/* line 345, ../scss/style.scss */
#post article .post-text .article-footer div {
  float: left;
  padding-left: 10px;
  margin-right: 10px;
  border-left: 1px solid #e8e8e8;
}
/* line 350, ../scss/style.scss */
#post article .post-text .article-footer div:first-child {
  border-left: none;
}
/* line 353, ../scss/style.scss */
#post article .post-text .article-footer div span {
  color: #404040;
  padding: 0 7px;
  display: inline-block;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f5f5f5;
}
/* line 366, ../scss/style.scss */
#post article .post-social {
  margin-left: 0;
}
/* line 368, ../scss/style.scss */
#post article .post-social .row {
  margin-left: 0;
}
/* line 370, ../scss/style.scss */
#post article .post-social .row a {
  background: #303030;
  display: block;
  position: relative;
  float: left;
  width: 146px;
  height: 130px;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
/* line 379, ../scss/style.scss */
#post article .post-social .row a:hover .icon-2x {
  color: #08c;
}
/* line 380, ../scss/style.scss */
#post article .post-social .row a .icon-2x {
  color: #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  transition: all 0.5s ease;
}
/* line 388, ../scss/style.scss */
#post article .post-social .row a .icon-angle-right {
  margin-left: -5px;
}
/* line 389, ../scss/style.scss */
#post article .post-social .row a .icon-angle-left {
  margin-left: -5px;
}
/* line 390, ../scss/style.scss */
#post article .post-social .row a .icon-facebook {
  margin-left: -5px;
}
/* line 391, ../scss/style.scss */
#post article .post-social .row a .icon-twitter {
  margin-left: -13px;
}

/* line 398, ../scss/style.scss */
.next {
  width: 40px;
  height: 60px;
  background: white url("../images/arrow-r.png") no-repeat center center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  z-index: 5;
  top: 50%;
  margin: -30px 0 0 0;
}

/* line 410, ../scss/style.scss */
#social {
  width: 100%;
  overflow: auto;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
/* line 415, ../scss/style.scss */
#social .embed {
  /*background: #f2f2f2;*/
  margin: 0 0 0 94px;
  height: 185px;
  position: relative;
}
/* line 421, ../scss/style.scss */
#social .facebook {
  background: url("../images/fb.jpg") no-repeat left top;
  background-size: auto;
}
/* line 422, ../scss/style.scss */
#social .instagram {
  background: url("../images/in.jpg") no-repeat left top;
  background-size: auto;
}
/* line 424, ../scss/style.scss */
#social .instagram .embed {
  padding: 0 0 5px;
}
/* line 425, ../scss/style.scss */
#social .instagram .scrollarea {
  width: 500px;
}
/* line 428, ../scss/style.scss */
#social .instagram article {
  height: 185px;
  width: 185px;
  float: left;
  margin: 0 20px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
/* line 435, ../scss/style.scss */
#social .instagram article p {
  position: absolute;
  background: #fff;
  display: block;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  bottom: -185px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
/* line 449, ../scss/style.scss */
#social .instagram article:hover p {
  bottom: 0;
}
/* line 454, ../scss/style.scss */
#social .instagram img {
  height: 185px;
}
/* line 458, ../scss/style.scss */
#social .twitter {
  background: url("../images/tw.jpg") no-repeat left top;
  background-size: auto;
}

/* line 460, ../scss/style.scss */
#social > div {
  width: 29%;
  margin: 50px 0 50px 50px;
  float: left;
  overflow: hidden;
}

/* Twitter */
/* line 469, ../scss/style.scss */
#social .twitter .tweet_list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* line 475, ../scss/style.scss */
#social .twitter .tweet_list li {
  margin: 0 0 20px;
}

/* line 479, ../scss/style.scss */
#social .twitter .tweet_text {
  color: #acacac;
}

/* line 480, ../scss/style.scss */
#social .twitter .tweet_time {
  display: block;
  margin: 0 0 5px;
}

/* line 482, ../scss/style.scss */
#events {
  margin: 60px;
  width: auto !important;
}

/* line 487, ../scss/style.scss */
#events section {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 300px;
  height: 160px;
  padding: 30px;
  margin: 0 30px 30px 0;
  position: relative;
}

/* line 498, ../scss/style.scss */
#events h3, #events h4 {
  font-size: 18px;
  margin: 0px;
}

/* line 503, ../scss/style.scss */
#events p {
  display: block;
  position: absolute;
  bottom: 30px;
  margin: 0px;
  color: #acacac;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}

/* line 515, ../scss/style.scss */
#events section:hover p {
  color: #808080;
}

/*														-- (1285, infinity) */
@media (min-width: 1285px) {
  /* line 520, ../scss/style.scss */
  #news article {
    width: 545px;
  }
}
/* Large desktop										-- (1200, infinity) */
@media (min-width: 1200px) {
  /* line 525, ../scss/style.scss */
  #news {
    margin: 60px 0 0 !important;
  }

  /* line 526, ../scss/style.scss */
  #news article {
    margin: 0 0 60px 60px !important;
  }

  /* line 527, ../scss/style.scss */
  #archive .archive article {
    width: 31.623931623931625%;
  }

  /* line 528, ../scss/style.scss */
  .post-social {
    width: 292px;
  }

  /* line 529, ../scss/style.scss */
  .post-text {
    width: 878px;
  }
}
@media (max-width: 1199px) {
  /* line 533, ../scss/style.scss */
  .post-social {
    width: 292px;
  }

  /* line 534, ../scss/style.scss */
  .post-text {
    width: 648px;
  }
}
@media (max-width: 979px) {
  /* line 538, ../scss/style.scss */
  #post article .post-text {
    width: 100%;
  }

  /* line 539, ../scss/style.scss */
  .post-social {
    display: none;
  }
}
@media (max-width: 940px) {
  /* line 543, ../scss/style.scss */
  #archive .archive article.span4 {
    width: 48%;
  }
}
/*														-- (768, infinity) */
@media (min-width: 768px) {
  /* line 550, ../scss/style.scss */
  #news article {
    margin: 0 0 60px 60px !important;
  }

  /* line 551, ../scss/style.scss */
  #news {
    margin: 60px 0 0 !important;
  }

  /* line 552, ../scss/style.scss */
  #social > div {
    margin: 50px 0 50px 50px !important;
  }

  /* line 553, ../scss/style.scss */
  #social .embed {
    margin: 0 0 0 94px !important;
  }

  /* line 554, ../scss/style.scss */
  #events {
    margin: 60px !important;
  }

  /* line 555, ../scss/style.scss */
  #events section {
    width: 300px !important;
  }
}
/* Portrait tablet to landscape and desktop 			-- (768, 979) */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 560, ../scss/style.scss */
  #post article .post-text {
    width: 724px;
  }

  /* line 563, ../scss/style.scss */
  #archive .archive article.span4 {
    width: 48%;
  }
}
/* Landscape phone to portrait tablet 					-- (0, 768) */
@media (max-width: 767px) {
  /* line 571, ../scss/style.scss */
  body {
    padding: 0;
  }

  /* line 573, ../scss/style.scss */
  nav ul li a {
    font-size: 12px !important;
    width: 112px !important;
  }

  /* line 578, ../scss/style.scss */
  #news .scrollarea {
    width: 100%;
  }

  /* line 580, ../scss/style.scss */
  #social > div {
    background-size: 25px !important;
  }

  /* line 582, ../scss/style.scss */
  #events section {
    width: 100%;
    margin: 0 auto 30px auto !important;
  }

  /* line 584, ../scss/style.scss */
  #post article {
    width: 90%;
  }

  /* line 586, ../scss/style.scss */
  #post article .post-text {
    width: 100%;
  }

  /* line 588, ../scss/style.scss */
  #archive .archive {
    padding: 5%;
  }
  /* line 590, ../scss/style.scss */
  #archive .archive article.span4 {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 593, ../scss/style.scss */
  div.span12 img {
    height: auto;
  }

  /* line 595, ../scss/style.scss */
  .post-social {
    display: none;
  }
}
/* Landscape phones and down 							-- (0, 480) */
@media (max-width: 480px) {
  /* line 601, ../scss/style.scss */
  #logo {
    background-size: 65%;
  }

  /* line 602, ../scss/style.scss */
  nav ul li a {
    width: 72px !important;
  }

  /* line 606, ../scss/style.scss */
  #events section {
    margin-right: 0px !important;
    margin: 0 auto 30px auto !important;
  }
}
